@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
nav{
    background: #000;
    color:#fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div{
    margin-right: 60px;
}
nav div img{
    width:50px;
    height: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left:40px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 16px;
}
nav ul li img{
    width: 20px;
    height: 20px;
}
nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}
.small-nav{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0071e3;
    color: #fff;
    padding: 10px;
}
.container{
    width:100%;
    margin-top: 10px;
}
.container .mac{
    text-align: center;
}
.mac h1{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 50px;
}
.mac h2{
    font-weight: 300;
    font-size: 40px;
    padding-bottom: 5px;
}
.mac div{
    display: flex;
    justify-content: center;
}
.mac div p{
    margin-left: 20px;
    font-size: 18px;
    padding-bottom: 10px;
}
.mac div p a{
    text-decoration: none;
}
.mac div p a:hover{
    text-decoration:underline;
}
.mac img{
    padding-bottom: 10px;
}
.iphone11pro{
    width: 100%;
    color:#fff;
    text-align: center;
    background: #000;
}
.iphone11pro h1{
 padding-top: 50px;
 padding-bottom: 5px;
 font-size: 50px;
}
.iphone11pro h4{
    font-weight: 300;
    font-size: 25px;
}
.iphone11pro .description{
    font-weight: 300;
    font-size: 16px;
    padding:5px 0;
}
.iphone11pro div{
    display: flex;
    justify-content: center;
}
.iphone11pro div p{
    margin-left: 10px;
}
.iphone11pro div p a{
    text-decoration: none;
    font-size: 18px;
}
.iphone11pro div p a:hover{
    text-decoration: underline;
}

.iphone11pro img{
    width:700px;
    border: none;
    padding-bottom: 0;
}

.iphone11{
    width:100%;
    background: #fafafa;
    text-align: center;
    padding-top: 20px;
}
.iphone11 h2{
 padding-top: 50px;
 padding-bottom: 5px;
 font-size: 50px;
}
.iphone11 h4{
    font-weight: 300;
    font-size: 25px;
}
.iphone11 .description{
    font-weight: 300;
    font-size: 16px;
    padding:5px 0;
}
.iphone11 div{
    display: flex;
    justify-content: center;
}
.iphone11 div p{
    margin-left: 10px;
}
.iphone11 div p a{
    text-decoration: none;
    font-size: 18px;
}
.iphone11 div p a:hover{
    text-decoration: underline;
}

.iphone11 img{
    width:1300px;
    border: none;
    padding-bottom: 0;
}
